#login-padding {
  float:right;
  padding-right:16px;
}

.greyed-out {
  color: #999;
  font-style: italic;
  font-size: smaller;
}

.games-list {
  list-style: none;
  margin: 25px;
}

.game {
  margin-bottom:4px;
}

#new-game {
  margin-left: 25px; 
}